#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .card {
    background-color: grey;
    border: solid 1px white;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  img  {
    width: 10rem;
    }
    
  }
  
  .description {
    display: flex;
    flex-direction: column;
  }
  
  .star {
    display: flex;
    justify-content: center;
    gap: 5px;
img  {
    width: 1rem;
    }
  }
  
  .star>img {
    width: 1rem;
  }
  
  h1 {
    font-size: 18pt;
  }
  
  h2 {
    font-size: 10pt;
  }